@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    
}



/* Navbar  */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6)!important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color : #1ebba3;
}


/* Slider  */
/* 
.carousel-item {
    height: 100vh;
} */


.carousel-item {
    height: 100vh;
}




/* Course Section  */

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

/* shomeek adding starts */


.game-news li{
    /* below will remove the bullet */
    list-style: none;
}

.game-news a{
    color: black;
    /* below will remove hyperlink */
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin: 0%;
    padding-right: 0px;
    font-weight: bold;
    text-align: center;
}
.game-news span {
    color: orangered;
}
.game-news img {
    /* position: relative;
    left: -100px;
    height: 10rem;
    width: 10rem;
    margin: left;
    align-self: center; */
    position: initial;
    display: table-cell;
    /* height: 400px; */
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding: -10%;
}





/* shomeek adding ends */