@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    
}

.offset:before {
    height: 3.8rem;
    margin-top: -3.8rem;
    content: "";
    display: block;
}


.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    /* width: 80%;
    right: 0;
    left: 0; */

}

.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;

}

.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    font-size: 1.1rem;
}


/* =====================Navbar=================================  */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6)!important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color : #1ebba3;
}


/*==============================Slider==================================*/
/* .carousel-inner {
    height: 100vh;
}


.carousel-item {
    height: 100%;
} */

@media screen and  (min-width: 769px) {
    .carousel-item{
        height: 100vh;

    }
}

@media screen and (max-width: 768px) {
    .carousel {
        height: 500px;
    }


    .carousel-item {

        /* position: absolute; */

    height: 490px;
      /* background-size: contain ; */
      background-repeat: no-repeat;

      background-attachment: fixed !important;
      background-size: cover !important;   
      background-position: center !important;
    }
    .carousel-caption {
        top: 2rem;
        font-size: 1rem;
    }

  }


/*=================================animated button=========================================*/

.frame {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -150px;
	margin-left: -100px;
	border-radius: 2px;
	/* box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1); */
	overflow: hidden;
    /* background: #FFA114; */
    background: transparent;
	color: white;
	font-family: Raleway, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
}
.button  svg {
		height: 55px;
		width: 150px;
		fill: none;
        stroke-width: 5;
}

.button 	.o1 {
			stroke: rgba(#FFB341, 0.7);
			/* fill: #FFA114; */
			transition: all 1s ease-in-out;
		}

        .button 		.o2 {
			stroke: white;
			stroke-dasharray: 20 420;
			stroke-dashoffset: 20;
			transition: all 1s ease-in-out;
		}
	/* } */

	.button p {
		position: absolute;
		margin: auto 0;
		text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
	}


    .button :hover .o1{
			fill: rgba(#CC8110, 0.3);
		}
		
		.button :hover .o2 {
			stroke-dashoffset: -420;
        }
        

 
	
/* } */



/*=================================News Section============================================*/


#News a{
    /* below will remove hyperlink */
    text-decoration: none;
}

#News h4,p {
    color: #505962;
}



@media screen and  (min-width: 769px) {
    #News .card {
        width: 300px;
        height: 400px;
      /* margin-left: 9rem; */
        margin-top: 1rem
      
    }

    #News .featured-content img {
        height: 65%;
    }

}


@media screen and (max-width: 768px) {
    #News .card {
        width: 168px;
        height: 250px;
        margin-left: 0rem;
    }

    #News .col-md-6 {
        padding-bottom: 2rem;
    }


}

.list-title {
    font-family: inherit;
    background-color: #F26722;
    margin-bottom: 12px;
    font-weight: 600;
    border: none;
    height: 44px;
    line-height: 44px;
    /* text-decoration: none; */
    text-align: center;    
    
}


.list-title a{
    color: white;
    text-decoration: none;
}


.featured-content {
    display: flex;
    justify-content: space-around;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);  
  }


  .flip-card-back h1{
    margin-top: 4rem;
  }

  .flip-card-back p{
    color: white;
  }



/*================================ Review Section===========================================*/


.reviews img {
    max-width: 100%;
    /* transition: transform .5s ease; */
}

.row.no-padding [class*=col-] {
    padding: 1rem;
}

.reviews a{
    text-decoration: none;
    color: #505962;
}

/* .reviews img:hover {
    transform: scale(1.1);

} */

/* .reviews:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
} */



.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
    /* color: white; */
}

.jumbotron {
    padding: .1rem 0 3rem;
    margin-bottom: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}

/* shomeek adding starts */


.game-news li{
    /* below will remove the bullet */
    list-style: none;
}

.game-news a{
    color: black;
    /* below will remove hyperlink */
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin: 0%;
    padding-right: 0px;
    font-weight: bold;
    text-align: center;
}
/* .game-news span {
    color: orangered;
} */

span {
    color: orangered;
}
.game-news img {
    /* position: relative;
    left: -100px;
    height: 10rem;
    width: 10rem;
    margin: left;
    align-self: center; */
    position: initial;
    display: table-cell;
    /* height: 400px; */
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding: -10%;
}



/*=============================Guides Section==============================*/

#Guides .card a {
    text-decoration: none;
    color:  #505962;
}



@media screen and  (max-width: 768px) {
    #Guides .card {
        align-items: left;
        width: 110px;
        height: 100px;
        padding-bottom: 1rem;
        /* display: inline-block; */
    }

    #Guides .card h4 {
        font-size: .7rem;
    }

    .row.paddings [class*=col-] {
        padding:4rem;
        align-items: left;
        width: 110px;
        height: 100px;
        padding-bottom: 7rem;
        margin-left: -.3rem;
        /* display: inline-block; */
        justify-content: space-around;
    }

    .row .paddings {
        justify-content: space-around;
    }
    
}


@media screen and  (min-width: 769px) {
    #Guides .card {
        /* align-items: left; */
        width: 300px;
        height: 300px;
        /* margin-left: -9rem; */
        /* margin-top: 1rem; */
        /* padding-bottom: 0rem; */
        display: inline-block;
    }

    #Guides .card h4 {
        font-size: 1rem;
    }
    
}

/*=============================Contact Section==============================*/

footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 3rem;
    margin-top: 1rem;

}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}


footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;

}

footer svg.svg-inline--fa:hover {
    color: #1ebba3;
}

hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}


footer a:hover {
    text-decoration: none;
    color: #1ebba3;
}


/* =====================styles for about me======================= */



hr.bar {
    border-top: 2rem solid orangered;
    width: 100%;
}

h3.small-heading {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.center {
    text-align: center;
    list-style-position: inside;
    margin-left: 10%;
    margin-right: 10%;
}
ol.center li{
    text-align: left;
    margin-left: 45%;    
}



/*=======================================News Html page=======================================*/

.list-title{
    color: white;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }

  /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


/*=======================================Reviews Html Page=====================================*/

.checked {
    color:goldenrod;
  }

.unchecked {
    color:  #40474e;
}

/* .positve {
    float: left; 
    width: 200px; 
    border-right: 1px solid #333;
}

.negative { 
    float: left; 
    width: 200px;
} */

.positve h3{
      color: green;
}

 .negative h3{
    color: red;
}

.row ul {
    list-style: none;
    /* text-align: left; */
}

#surge2Guide .row {
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
}

/*=======================================Addcountainers========================================*/

@media screen and  (max-width: 768px) {
    .addcontainer {
        display: none;
    }
    
}


/*========================================Surg2Guide===========================================*/



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden;
    /* padding-right: 1rem; */
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.content {
    margin-left: 1rem;
    margin-right: 1rem;
}














